@media (min-width: 1023px) {
  .toggle-white {
    display: none;
  }
  .logo-items {
    display: none;
  }
}
@media (max-width: 1280px) {
  .footer-content {
    gap: 100px;
  }
}
@media (max-width: 1024px) {
  h2,
  .h2 {
    font-size: 60px;
    line-height: 1.01;
    font-family: var(--raleway);
  }
  .toggle-white {
    display: block;
  }
  .menu-items {
    display: none;
    background: var(--white);
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    z-index: 9;
    height: 100vh;
    padding: 86px 40px 34px;
  }
  .menu-name {
    color: var(--black);
  }
  .menu-list {
    flex-direction: column;
    align-items: start;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-right: 0;
  }
  .menu-contain {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .menu-list li:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 24px;
  }
  .logo-items {
    display: flex;
    justify-content: space-between;
  }
  .logo-items {
    width: 100%;
  }
  .close-menu {
    color: var(--black);
    width: 20px;
  }
  .close-menu svg {
    fill: var(--black);
  }
  .two-col-1,
  .two-col-2 {
    margin: 0;
  }
  .two-col-flex {
    gap: 30px;
    flex-direction: column;
  }
  .two-col-img {
    position: static;
    width: 100%;
    height: 100%;
    min-height: 300px;
    display: contents;
  }
  .two-col-text {
    width: 100%;
  }
  .two-col-item {
    width: 100%;
    height: 100%;
  }
  .two-col-2 .two-col-item {
    order: 2;
  }
  .two-col-2 .two-col-text {
    order: 1;
  }
  .two-col-1 .two-col-item,
  .two-col-sec .two-col-item,
  .two-col-sec-3 .two-col-item {
    order: 2;
  }
  .two-col-1 .two-col-text,
  .two-col-sec .two-col-text,
  .two-col-sec-3 .two-col-item {
    order: 1;
  }
  .two-col-1,
  .two-col-2 {
    padding: 60px 0;
  }
  .cta-text {
    gap: 5px;
  }
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .footer-title {
    white-space: wrap;
  }
  .partnership {
    overflow: hidden;
  }
  .partnership-item {
    width: 100%;
    min-width: 1000px;
    justify-content: center;
  }
  .footer-links-list {
    margin-bottom: 30px;
  }
  .sec-padding {
    padding: 70px 0;
  }
  .two-col-sec {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .cta-img {
    width: 100%;
    height: 100%;
    min-height: 100%;
  }
  .cta-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .cta-img-item {
    height: fit-content;
    width: 100%;
    order: 1;
  }
  .cta-text-item {
    order: 2;
  }
  .two-col-img img {
    width: calc(100% + 32px);
    margin: 0 -16px;
  }
  .blog-card-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .inner-title {
    font-size: 60px;
  }

  .inner-title span {
    font-size: 80px;
  }

  .cta-flex {
    flex-direction: column-reverse;
  }

  .cta-text-item-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-cta-2 {
    text-align: center;
  }

  .cta-text-item-2 {
    width: 100%;
    height: fit-content;
  }

  .title-cta-2 span {
    display: inline-block;
  }

  .cta-img-3 {
    width: calc(100% + 32px);
    height: calc(100% + 40px);
    margin: -40px -16px 20px -16px;
    max-width: 776px;
    max-height: 382px;
  }
  .title-cta-2 {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: 80px;
  }
}
@media (max-width: 640px) {
  h1,
  .h1 {
    font-size: 60px;
  }

  h2,
  .h2 {
    font-size: 44px;
    line-height: 1.01;
  }
  h3,
  .h3 {
    font-size: 26px;
    line-height: 1.49;
  }
  .hero-section {
    background-position: right;
  }
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
  }
  .footer-title {
    white-space: nowrap;
    font-size: 40px;
  }
  .footer-title span {
    font-size: 55px;
  }
  .footer-links-list {
    display: flex;
    gap: 34px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .inner-hero-title {
    font-size: 60px;
  }
  .inner-hero-title span {
    font-size: 60px;
  }
  .inner-title {
    font-size: 44px;
    margin-bottom: 10px;
  }
  .inner-title span {
    font-size: 52px;
  }
  .blog-card-grid {
    gap: 50px;
    grid-template-columns: repeat(1, 1fr);
  }
  .title-cta-2 {
    font-size: 40px;
  }
}
