* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--raleway);
}

:root {
  --primary: #64d281;
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --black: #000000;
  --paragraph-color: #141414;
  --poppins-font: "Poppins";
  --raleway: "Raleway";
  --font-size-18: 18px;
  --font-size-24: 24px;
  --font-size-80: 80px;
  --font-size-140: 140px;
  --section-clip: polygon(0 0, 100% 0%, 100% 95%, 0% 100%);
}

.container {
  width: 100%;
  max-width: 1258px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

a {
  text-decoration: none;
  display: inline-block;
  color: currentColor;
}

ul {
  list-style: none;
}

img {
  display: inline-block;
}

h1,
.h1 {
  font-size: 110px;
  line-height: 1.06;
  font-family: var(--raleway);
  color: inherit;
}

h2,
.h2 {
  font-size: 60px;
  line-height: 1.01;
  font-family: var(--raleway);
  color: inherit;
}

h3,
.h3 {
  font-size: 40px;
  line-height: 1.49;
  font-family: var(--raleway);
  color: inherit;
}

h4,
.h4 {
  font-size: 20px;
  line-height: 1.19;
  font-family: var(--raleway);
  color: inherit;
}

h5,
.h5 {
  font-size: 14px;
  list-style: 0.23;
  font-family: var(--raleway);
  color: inherit;
}

h6,
.h6 {
  font-size: 12px;
  line-height: 1.2;
  font-family: var(--raleway);
  color: inherit;
}
p,
.p {
  color: inherit;
}
.richtext p {
  opacity: 0.5;
}
.richtext:has(p) {
  font-size: 16px;
  font-family: var(--poppins-font);
  line-height: 1.5;
  color: var(--paragraph-color);
}
.inner-paragraph P {
  opacity: 1;
  color: var(--white);
}
.sec-padding {
  padding: 124px 0;
}
.btn {
  padding: 24px 40px;
  font-size: 14px;
  white-space: nowrap;
  font-weight: 700;
  text-align: center;
  position: relative;
  width: fit-content;
  z-index: 1;
}

.btn-primary {
  color: var(--black);
  background-color: var(--primary);
}

.btn-header {
  padding: 24px;
  color: var(--white);
}

.btn-primary::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 0.4s ease-in-out;
  background-color: var(--black);
  z-index: -1;
}

.btn-primary:hover::after {
  width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 9;
  top: 0;
  left: 0;
  padding: 52px 0;
  transition: all 0.4s ease-in-out;
}

.header-change {
  padding: 20px 0;
  background-color: var(--black);
}

.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.menu-list {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.menu-items {
  display: flex;
  align-items: center;
}

.menu-contain {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu-list li:not(:last-child) {
  margin-right: 36px;
}
.menu-list li {
  display: flex;
  gap: 5px;
}
.menu-name {
  font-family: var(--raleway);
  font-size: 14px;
  white-space: nowrap;
  color: var(--white);
  font-weight: 600;
}
.dropdown {
  position: relative;
}
.dropdown-item {
  background-color: var(--white);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
}
.header-2{
position: static;
}
.header-2 .menu-name{
color: var(--paragraph-color);
}
.toggle-black img{
filter: invert(1);
}
.hero-section {
  background-image: url(../images/hero-back.png);
  height: 100vh;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: var(--section-clip);
}
.hero-section::after {
  content: "";
  position: absolute;
  background-image: url(../images/back-shadow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;
}
.scroll-item {
  position: absolute;
  right: 50%;
  left: 50%;
  z-index: 3;
  transform: rotate(-90deg);
  bottom: 10px;
}
.scroll-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: fit-content;
  font-weight: 600;
  color: var(--white);
  font-size: var(--font-size-18);
}
.scroll-text::before {
  content: " ";
  background-color: var(--white);
  display: inline-block;
  z-index: 5;
  width: 40px;
  height: 2px;
}
.hero-section .container,
.hero-section .hero-item {
  height: 100%;
}
.hero-item {
  display: flex;
  align-items: center;
  min-height: 700px;
  position: relative;
}
.hero-text {
  z-index: 3;
}
.hero-title {
  width: 50%;
  color: var(--white);
}
.two-col-1,
.two-col-2 {
  position: relative;
  margin: 100px 0;
}

.two-col-flex {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 100px;
}
.two-col-item {
  width: 50%;
}
.two-col-text {
  width: 50%;
}
.two-col-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
.two-col-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
}
.two-col-subtitle {
  text-transform: uppercase;
  margin-bottom: 6px;
  opacity: 0.5;
  letter-spacing: 2px;
}
.two-col-title {
  font-weight: 400;
  margin-bottom: 16px;
}
.two-col-title span {
  font-weight: 800;
}
.two-col-paragraph {
  margin-bottom: 14px;
}
.two-col-2 .two-col-img {
  left: auto;
  right: 0;
}
.two-col-link {
  font-weight: 800;
  color: var(--paragraph-color);
  text-decoration: underline;
  margin-left: 20px;
}
.cta-section {
  background-image: url(../images/cta-sec.png);
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 124px 0px;
}
.cta-section::after {
  content: "";
  position: absolute;
  background-color: var(--paragraph-color);
  opacity: 0.5;
  top: 0;
  z-index: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cta-section .container {
  position: relative;
  z-index: 2;
}
.cta-title {
  color: var(--white);
  font-weight: 400;
}
.cta-title-img img {
  width: 100%;
  height: 100%;
}
.cta-text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 26px;
  justify-content: center;
}
.cta-btn {
  display: flex;
  width: fit-content;
  padding: 20px 40px;
  margin: 0px auto;
  margin-top: 10px;
}

/* .footer */
footer {
  background-color: var(--black);
}
.footer-content {
  display: grid;
  gap: 140px;
  grid-template-columns: repeat(3, 1fr);
  padding: 124px 0;
}

.footer-title {
  font-size: 58px;
  font-weight: 400;
  white-space: nowrap;
  color: var(--white);
  margin-bottom: 22px;
}
.footer-title span {
  font-weight: 800;
  font-size: 98px;
}
.footer-slogan {
  color: var(--white);
  margin-bottom: 12px;
}
input:focus-visible {
  outline: none;
}
.footer-email {
  border-radius: 0px 200px 200px 0px;
  appearance: none;
  width: 100%;
  background-color: rgb(var(--white-rgb), 12%);
  border: none;
  color: var(--white);
  padding: 22px 24px;
}
.footer-email::placeholder {
  color: rgb(var(--white), 0.9);
}
.footer-from {
  position: relative;
}
.arrow-btn {
  position: absolute;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  right: 5px;
  top: 4px;
  width: 50px;
  height: 50px;
  transition: all 0.4s ease-in-out;
  background-color: var(--primary);
}
.arrow-btn:hover {
  background-color: var(--white);
}
.arrow-btn img {
  width: 32px;
  height: 20px;
}
.footer-info {
  color: var(--white);
}
.info-text {
  font-weight: 200;
  font-family: var(--poppins-font);
}
.info-link {
  display: flex;
  gap: 10px;
}
.info-items .info-link:not(:last-child) {
  margin-bottom: 58px;
}
.footer-links-items {
  color: var(--white);
  display: flex;
  flex-direction: column;
}
.info-title {
  letter-spacing: 1.2px;
  margin-bottom: 25px;
}
.footer-links-list li:not(:last-child) {
  margin-bottom: 24px;
}
.footer-links {
  text-transform: uppercase;
  opacity: 0.5;
}
.links-group {
  display: flex;
  gap: 12px;
  margin-top: auto;
}
.social-media-link {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary);
  transition: all 0.5s ease-in-out;
}
.social-media-link:hover {
  background-color: var(--white);
}
.social-media-link img {
  width: fit-content;
  height: 20px;
}
.partnership {
  padding: 32px 0;
  background-color: var(--primary);
}
.partnership-title {
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--black);
  font-weight: 500;
}
.partnership-item {
  display: flex;
  gap: 30px;
  align-items: center;
  overflow-x: auto;
}
.partnership-logos {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.partnership-logo img {
  height: 100%;
  width: fit-content;
}

/* about-us-page */
.inner-hero-section {
  background-image: url(../images/about-us-banner.png);
  height: 100vh;
  position: relative;
  z-index: 2;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: var(--section-clip);
}
.inner-hero-section::after {
  content: "";
  background-image: url(../images/about-us-shadow.svg);
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30%;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;
}
.inner-hero-section .container,
.inner-hero-section .hero-item {
  height: 100%;
}
.inner-hero-title {
  color: var(--white);
  font-size: 80px;
  font-weight: 200;
}
.inner-hero-title span {
  font-size: 170px;
  font-weight: 600;
}

.inner-hero-section .hero-text .inner-hero-paragraph p {
  color: var(--white);
  font-weight: 600;
  opacity: 1;
  max-width: 596px;
  margin-bottom: 20px;
}

/* counter-section */
.counter-section {
  position: relative;
  background-attachment: fixed;
  background-color: var(--primary);
  padding: 120px 0;
  z-index: 1;
}
.counter-section::after {
  content: "";
  position: absolute;
  width: 100%;
  z-index: -1;
  top: -100px;
  height: 100%;
  background-color: var(--primary);
}
.counter-section .container {
  overflow: hidden;
}
.counter-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 72px;
  flex-grow: 1;
  overflow-x: auto;
}
.counter-item {
  color: var(--white);
  text-align: center;
}
.counter {
  margin-bottom: 40px;
}
.counter-title {
  font-size: 28px;
  white-space: nowrap;
  margin-bottom: 18px;
}
.counter-value {
  font-weight: 800;
  color: var(--white);
  position: relative;
}
.counter-value::after {
  content: "%";
}

.two-col-sec {
  position: relative;
  margin-top: 98px;
  margin-bottom: 20px;
}
.two-col-sec .two-col-img {
  max-height: 590px;
}
.two-col-sec-2 {
  padding: 94px 0;
  margin-bottom: 20px;
  position: relative;
}
.two-col-sec-2 .two-col-img {
  left: auto;
  max-height: 590px;
  right: 0;
}
.two-col-sec-3 {
  position: relative;
  padding: 100px 0;
  margin-bottom: 40px;
}

.cta-grid {
  background-color: var(--paragraph-color);
  display: grid;
  position: relative;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
  padding: 40px 34px;
}

.title-cta {
  font-weight: 500;
  color: var(--white);
  margin-bottom: 12px;
}

.title-cta span {
  font-weight: 800;
}

.cta-img img {
  width: 100%;
  display: flex;
  object-fit: cover;
}
.cta-img {
  width: 100%;
  height: 100%;
}

.inner-title {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 300;
  font-size: var(--font-size-80);
}
.inner-title span {
  font-weight: 800;
  font-size: var(--font-size-140);
}
.inner-hero-testimonial {
  background-image: url(../images/testimonial.png);
}
.inner-hero-testimonial::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.5;
  top: 0;
  left: 0;
}


.blog-card-section .blog-card-grid:not(:last-child){
margin-bottom: 94px;
}

.card-title {
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 36px;
}
.card-title span {
  display: block;
  color: var(--paragraph-color);
  font-weight: 400;
}

.blog-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.card-img {
  position: relative;
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
  max-height: 250px;
}

.card-img img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  object-fit: cover;
}

.card-logo {
  position: absolute;
  bottom: -62px;
  right: 0px;
}

.cared-item-title {
  font-size: var(--font-size-24);
  font-weight: 800;
  color: var(--paragraph-color);
  margin-bottom: 8px;
}
.cared-item-title span {
  font-weight: 300;
  display: block;
}
.blog-card-subtitle {
  max-width: 322px;
  margin-bottom: 8px;
}
.blog-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px;
  background-color: var(--black);
  width: 36px;
  height: 36px;
}
.blog-btn img {
  width: 24px;
  height: 14px;
}

.title-cta-2{
  font-size: var(--font-size-80);
}
.cta-section-3{
  background-color: black;
  padding: 40px 0;
}
.cta-flex{
  display: flex;

  align-items: center;
}
.cta-img-3{
  width: 100%;
  height: 100%;
  max-width: 776px;
  max-height: 382px;
}
.cta-img-3 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cta-text-item-2{
  width: 50%;
}
.info-title{
  max-width: 900px;
}